
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="<%= (config.rss || config.feed.path) %>"><span class="tooltip">Subscribe!</span></a>
  <% } %>
  <div class="inner">
 	<section class="copyright">Copyright <a href="<%- config.root %>"><%- config.title %></a> &copy; 2007-<%= date(new Date(), 'YYYY') %> &bull; All rights reserved.</section>
    <section class="poweredby">Proudly published with <a class="icon-ghost" href="#">Hexo</a> <a href="http://www.miitbeian.gov.cn/">沪ICP备08021483号</a> </section>
  
	<script type="application/ld+json">
	{
	  "@context": "http://schema.org",
	  "@type": "Organization",
	  "url": "http://www.scrumchina.com",
	  "name": "Scrum training, Agile training, Agile coaching in Greater China",
	  "contactPoint": {
	    "@type": "ContactPoint",
	    "telephone": "+86-021-34753688",
	    "contactType": "Customer service"
	  }
	}
	</script>

	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264553795'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264553795%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
	<script>$('img:last').hide()</script>
  </div>

</footer>
